@import './components/form.scss';

.left-right{
     margin-top:100px;
     
     .right{
          height: 350px;
          background: #1340EB;
          text-align: center;
          h3{
               line-height: 350px;
               color:#fff;
               font-size: 50px;
          }
     }
}